.partners {

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;

    .simplebar-content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .simplebar-track {
      display: none !important;
    }
  }

  &__title {
    margin-bottom: 120px;

    @include breakpoint(0, $xxl) {
      margin-bottom: 80px;
    }

    @include breakpoint(0, $xl) {
      margin-bottom: 60px;
    }

    @include breakpoint(0, $lg) {
      margin-bottom: 40px;
    }
  }

  &__item {
    display: block;
    padding: 5px;
    width: 16%;
    min-width: 150px;
    flex: none;
    transition: transform 0.3s;

    //@include breakpoint(0, $lg) {
    //  width: 33.33%;
    //}
    //
    //@include breakpoint(0, $sm) {
    //  width: 50%;
    //}

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }

}

